{% load static %}
{% include "header.html" %}
{% include "navigation.html" %}
                <br/>
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="card">
                            <div class="card-body" style="text-align:center; padding: 60px 20px;">
                                <h1>JobFit</h1>
                                <p style="margin-top:20px; font-size:1.2em; color:#555;">Your smart job application assistant.</p>
                                <p style="margin-top:30px">
                                    <a href="/register/" class="btn btn-success" style="margin-right:10px; min-width:110px">Sign up</a>
                                    <a href="/login/" class="btn btn-default" style="min-width:110px">Login</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
{% include "footer.html" %}
